
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_USER=media_db
DATABASE_PASSWORD=media_db
DATABASE_NAME=media_db
DATABASE_HOST=92.113.27.182
DATABASE_PORT=5432
DATABASE_TIMEOUT=300

# S3 Storage Configuration
USE_S3=False
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=your-region
AWS_S3_CUSTOM_DOMAIN=your-custom-domain