asgiref==3.8.1
Django==5.1.6
django-appconf==1.1.0
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-filter==25.1
django-imagekit==5.0.0
django_dramatiq==0.13.0
djangorestframework==3.15.2
dramatiq==1.17.1
gevent==24.11.1
greenlet==3.1.1
gunicorn==23.0.0
packaging==24.2
pilkit==3.0
pillow==11.1.0
prometheus_client==0.21.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
redis==5.2.1
sqlparse==0.5.3
watchdog==6.0.0
watchdog_gevent==0.2.1
zope.event==5.0
zope.interface==7.2
